<% layout('layout/Boilerplate') -%>

    <h2>
        <%= campgrounds.title %>
    </h2>
    <h4> Location: <%= campgrounds.location %>
        <img src="<%= campgrounds.image%>" alt="" >
        <p>Description: <%= campgrounds.description  %> </p>
        <p>Price: <%= campgrounds.price %> </p>
    </h4>

    <p>
    <form action="/campgrounds/<%=campgrounds._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <p>
            <a href="/campgrounds/<%=campgrounds._id%>/edit">Edit</a>
        </p>

        <a href="/campgrounds">All Campgrounds</a>
    </footer>